# SPDX-License-Identifier: Apache-2.0
# (c) 2026 Lutar, Stephen P. - SZL Holdings - ORCID 0009-0001-0110-4173
# frontend/szl/ holds byte-for-byte copies of the SZL KANCHAY export (sha256 in
# frontend/szl/SOURCE.json). Never let Git rewrite their line endings.
frontend/szl/** -text
